<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-color: gray;
        color:white;
        font-size: 3rem;
        }
    </style>
</head>
<body>
    {{>nav}}
    <h1>this is home page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa ratione provident non exercitationem tempore vero odio ullam officia quia aperiam, blanditiis laudantium labore quas facere. Autem sunt doloremque asperiores consequatur odit molestiae dolore iusto aspernatur aperiam perferendis vel explicabo, possimus animi. Officiis, incidunt! Sit adipisci magni temporibus distinctio cupiditate omnis earum odit animi minima? Quis, obcaecati animi? Voluptatum, expedita! Animi dignissimos deleniti beatae commodi mollitia odio vero consequatur inventore facilis sint unde blanditiis quo possimus porro magni eos cumque sequi atque assumenda, reprehenderit quibusdam quisquam omnis, iste accusantium. Laudantium itaque consequuntur atque explicabo alias odio ad natus at beatae mollitia magnam esse eaque accusantium commodi, sapiente amet voluptatum quam tempore architecto reprehenderit nulla ipsa dolore? Ea nesciunt dicta quod, voluptas est nam molestias qui aut cum consequuntur tenetur sit blanditiis officiis ipsum, fugit illum labore, quam suscipit? Architecto cum dolorum aliquid. Enim laboriosam error voluptas, soluta atque id veniam veritatis quod vero nobis inventore. Amet quo non fugiat tenetur explicabo architecto assumenda, quam aspernatur quasi animi magnam consectetur modi alias rem ab maxime, quibusdam debitis delectus numquam, sequi temporibus autem. Quisquam cumque harum in voluptatum vel quas voluptatem id eveniet esse ad, asperiores ea sit itaque possimus totam, dolorum incidunt aliquam nostrum, impedit expedita eos consequuntur rem! Consectetur voluptatibus, aspernatur commodi facilis similique eaque, suscipit voluptatem magnam quos nesciunt fugiat deleniti rem?</p>
    
    {{>footer}}
</body>
</html>