<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:green;
            font-size: 4rem;
            color: blue;

        }



        
     nav {
            background-color: black;
            width: 100%;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        li {
            font-size: 2rem;
            margin: 3.3rem auto;
            color: rgb(255, 0, 0);
            padding: -2rem;
            list-style: none;
            margin-top: 3.3rem;
            text-decoration: none;
        }

        footer {
            height: 16rem;
            margin-top: auto;
            border: green solid;
        }

        #foot {
            padding: 1.3rem;
            color: red;
            line-height: 2rem;
            background-color: black;

        }
    </style>
</head>
<body>
    {{>nav}}
    <h1>this is service page</h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, repellendus voluptates. Animi corrupti in ipsa cumque accusamus? Voluptate illo minus quos ipsam pariatur numquam, optio, dolorum obcaecati, a cum dolores suscipit corrupti unde?</h3>
    {{>footer}}
</body>
</html>