   <footer>
        <div id="foot">
        <ul>
            <li>follow us</li>
            <li>chat us</li>
            <li>like</li>
            <li>subscribe</li>
        </ul>
        </div>
    </footer>