<nav>
    <ul>
        <li><a href="home">home</a></li>
        <li><a href="service">services</a></li>
        {{!-- <li><a href="#">about</a></li> --}}
        <li><a href="contact">contact</a></li>
        <li><a href="weather">weather</a></li>
    </ul>
</nav>